<a href="https://colab.research.google.com/github/coder-omer/Pandas/blob/main/d1313_Assignment2_Student_ipynb_kopyas%C4%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="Rossum"></p>


____

In [ ]:
import pandas as pd

In [ ]:
ecom = pd.read_csv('data.csv',encoding= 'unicode_escape')

In [ ]:
ecom

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
276170    561034     21967  ...    15506.0  United Kingdom
276171    561034     21982  ...    15506.0  United Kingdom
276172    561034     22615  ...    15506.0  United Kingdom
276173    561034     22616  ...    15506.0  United Kingdom
276174    561034     21982  ...        NaN             NaN

[276175 rows x 8 columns]



```
# Bu, kod olarak biçimlendirilmiştir
```

**Check the head of the DataFrame.**

In [ ]:
ecom.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

** How many rows and columns are there? **

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276175 entries, 0 to 276174
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    276175 non-null  object
 1   StockCode    276175 non-null  object
 2   Description  275168 non-null  object
 3   Quantity     276174 non-null  float64
 4   InvoiceDate  276174 non-null  object
 5   UnitPrice    276174 non-null  float64
 6   CustomerID   197298 non-null  float64
 7   Country      276174 non-null  object
dtypes: float64(3), object(5)
memory usage: 16.9+ MB

** Show the statistical measurements of ecom dataset **

In [ ]:
ecom.describe()

            Quantity      UnitPrice     CustomerID
count  276174.000000  276174.000000  197298.000000
mean        9.285371       5.049635   15287.916989
std       208.578504     113.847672    1730.488029
min    -74215.000000       0.000000   12346.000000
25%         1.000000       1.250000   13854.000000
50%         3.000000       2.100000   15152.000000
75%        10.000000       4.150000   16839.000000
max     74215.000000   38970.000000   18287.000000

** What is the average Purchase Price? **

In [ ]:
ecom.UnitPrice.mean()

5.049635487040257

** What were the highest and lowest purchase prices? **

In [ ]:
ecom.UnitPrice.agg([max,min])

max    38970.0
min        0.0
Name: UnitPrice, dtype: float64

In [ ]:
ecom.UnitPrice.min()

0.0

** List the country names and number of records belongs to each country **

In [ ]:
ecom.Country.value_counts()

United Kingdom          253422
Germany                   4915
France                    4054
EIRE                      3669
Spain                     1273
Netherlands               1255
Belgium                    999
Australia                  867
Switzerland                835
Portugal                   713
Norway                     427
Finland                    395
Channel Islands            368
Cyprus                     353
Italy                      312
Japan                      251
Sweden                     220
Poland                     219
Hong Kong                  200
Singapore                  193
Denmark                    184
Unspecified                170
Canada                     146
Austria                    139
Greece                     110
Iceland                    102
Israel                      65
European Community          61
Malta                       47
Lebanon                     45
Lithuania                   35
Brazil                      32
United Arab Emirates        30
USA                         22
Bahrain                     19
Czech Republic              17
Saudi Arabia                10
Name: Country, dtype: int64

** How many records are as Country United Kingdom? **

In [ ]:
ecom[ecom.Country == "United Kingdom"].count()

InvoiceNo      253422
StockCode      253422
Description    252415
Quantity       253422
InvoiceDate    253422
UnitPrice      253422
CustomerID     175363
Country        253422
dtype: int64

** Create a column named Total which shows the total amount of spend using UnitPrice and Quantity ? **

In [ ]:
ecom['Total'] = ecom['UnitPrice'] * ecom['Quantity']
ecom.Total

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
276170     1.16
276171     0.29
276172     0.58
276173     1.16
276174      NaN
Name: Total, Length: 276175, dtype: float64

** Show total spending amount according to the Countries **

In [ ]:
ecom.groupby("Country").Total.sum()

Country
Australia                 85013.720
Austria                    4874.390
Bahrain                     548.400
Belgium                   18479.650
Brazil                     1143.600
Canada                     3614.820
Channel Islands            9559.470
Cyprus                     8163.780
Czech Republic              491.750
Denmark                    9436.560
EIRE                     125632.150
European Community         1291.750
Finland                   12864.700
France                    96801.390
Germany                  118153.900
Greece                     4029.530
Hong Kong                  6579.520
Iceland                    2205.950
Israel                     2472.250
Italy                      6673.820
Japan                     21132.740
Lebanon                    1693.880
Lithuania                  1661.060
Malta                       850.410
Netherlands              139775.790
Norway                    11499.630
Poland                     4949.070
Portugal                  15695.920
Saudi Arabia                131.170
Singapore                  8121.130
Spain                     30226.190
Sweden                    18273.880
Switzerland               24442.290
USA                         383.950
United Arab Emirates        889.240
United Kingdom          4077508.971
Unspecified                2419.730
Name: Total, dtype: float64

In [ ]:
ecom.groupby('Country').Total.sum().round(decimals=2)

Country
Australia                 85013.72
Austria                    4874.39
Bahrain                     548.40
Belgium                   18479.65
Brazil                     1143.60
Canada                     3614.82
Channel Islands            9559.47
Cyprus                     8163.78
Czech Republic              491.75
Denmark                    9436.56
EIRE                     125632.15
European Community         1291.75
Finland                   12864.70
France                    96801.39
Germany                  118153.90
Greece                     4029.53
Hong Kong                  6579.52
Iceland                    2205.95
Israel                     2472.25
Italy                      6673.82
Japan                     21132.74
Lebanon                    1693.88
Lithuania                  1661.06
Malta                       850.41
Netherlands              139775.79
Norway                    11499.63
Poland                     4949.07
Portugal                  15695.92
Saudi Arabia                131.17
Singapore                  8121.13
Spain                     30226.19
Sweden                    18273.88
Switzerland               24442.29
USA                         383.95
United Arab Emirates        889.24
United Kingdom          4077508.97
Unspecified                2419.73
Name: Total, dtype: float64

** Which Country spend least? **

In [ ]:
a = ecom.groupby("Country")["Total"].sum().min()
a

131.17

In [ ]:
ecom.loc[a,('Country')]

KeyError: ignored

In [ ]:
ecom.groupby(['Country'])['Total'].sum().sort_values()

In [ ]:
ecom.groupby(['Country'])['Total'].sum().sort_values().head(1)

** Calculate average of spending according to country with apply function? **

In [ ]:
ecom[['Country','Total']].head(10)

In [ ]:
import numpy as np

In [ ]:
ecom.groupby('Country')[['Total']].apply(np.mean)

In [ ]:
ecom.groupby('Country')['Total'].apply(lambda x : x.mean())

** Calculate average,min,max of spending according to country with agg function? **

In [ ]:
ecom.groupby('Country')["Total"].agg(['mean', 'min' ,'max'])

** What is the max Total spending in whole dataset and show the records of that spending ?**

In [ ]:
ecom.loc[ecom["Total"]==ecom["Total"].max()]

In [ ]:
ecom.sort_values("Total",ascending=False).head(1)

In [ ]:
ecom.sort_values("Total").tail(1)

In [ ]:
ecom.Total.sort_values().tail(1)

** How many people who live in Spain spend more than average Total ?**

In [ ]:
ecom[(ecom["Country"]=="Spain") & (ecom["Total"] > ecom["Total"].mean())].count()

** Convert datatype of InvoiceDate to datetime and assign it to new column name InvoiceDate2**

In [ ]:
ecom['InvoiceDate2']=pd.to_datetime(ecom.InvoiceDate)

In [ ]:
ecom['InvoiceDate2']

In [ ]:
ecom

** Take only date values (year-month-day) from InvoiceDate2 and assign it to a new column named date **

In [ ]:
ecom["Date"] = pd.to_datetime(ecom.InvoiceDate2.dt.date)

In [ ]:
ecom["Date"]

In [ ]:
ecom.head()

** drop InvoiceDate2 and InvoiceDate columns permanently **

In [ ]:
ecom.drop(["InvoiceDate","InvoiceDate2"], axis=1, inplace=True)
ecom.head()

** Remove A, B, G and E from StockCode in first 5 rows of ecom dataframe with a string method **

In [ ]:
ecom.StockCode[:5].str.replace('A','').str.replace('B','').str.replace('G','').str.replace('E','')

In [ ]:
ecom.StockCode.head().str.rstrip("ABGE")

** take only Total and date columns with loc and craete a new df named ecom2 **

In [ ]:
ecom2 = ecom.loc[:,["Total","Date"]]
ecom2

** take only InvoiceNo, CustomerID and Total columns with iloc and craete a new df named ecom3 **

In [ ]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276175 entries, 0 to 276174
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    276175 non-null  object
 1   StockCode    276175 non-null  object
 2   Description  275168 non-null  object
 3   Quantity     276174 non-null  float64
 4   InvoiceDate  276174 non-null  object
 5   UnitPrice    276174 non-null  float64
 6   CustomerID   197298 non-null  float64
 7   Country      276174 non-null  object
 8   Total        276174 non-null  float64
dtypes: float64(4), object(5)
memory usage: 19.0+ MB

In [ ]:
ecom3 = ecom.iloc[:,[0,5,7]]
ecom3

** Combine ecom2 and ecom3 with concat **

In [ ]:
ecom_concat2_3= pd.concat([ecom2, ecom3], axis=1)
ecom_concat2_3

NameError: ignored

** Combine ecom2 and ecom3 with merge. If memory error occurs take only first 400 rows from both DFs.**

In [ ]:
ecom_merge_2_3 = pd.merge(ecom2.iloc[:400,:],ecom3.iloc[:400,:], on='Total', left_index=True, right_index=True)
ecom_merge_2_3

** Combine ecom2 and ecom3 with join (inner)**

In [ ]:
join_ecom2_3 = ecom2.join(ecom3, how="inner",lsuffix='_left',rsuffix='_right')
join_ecom2_3

In [ ]:
ecom2.info()

In [ ]:
ecom3.info()

# Congrats!