<a href="https://colab.research.google.com/github/coder-omer/Pandas/blob/main/DAwPy_S4_(Pandas_DataFrames%2C_Selection_and_Indexing)_empty.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><p style="text-align: center;">Pandas Lesson, Session - 4</p><h1>

# Data Frames

 - ### ``DataFrames`` are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [ ]:
import numpy as np
import pandas as pd

 ## Creating a DataFrame using the ``list``s of data and columns

pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Two-dimensional, size-mutable, potentially heterogeneous tabular data.

In [ ]:
data = [1, 3, 5, 7, 9, 18]
data

[1, 3, 5, 7, 9, 18]

In [ ]:
pd.DataFrame(data=data)

    0
0   1
1   3
2   5
3   7
4   9
5  18

In [ ]:
pd.Series(data=data)

0     1
1     3
2     5
3     7
4     9
5    18
dtype: int64

 ## Creating a DataFrame using a ``NumPy Arrays``

In [ ]:
m = np.arange(1,24,2).reshape(3,4)
m

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [ ]:
df=pd.DataFrame(data=m, columns=['var1','var2','var3','var4'])
df

   var1  var2  var3  var4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [ ]:
df.head(1)

   var1  var2  var3  var4
0     1     3     5     7

In [ ]:
df.tail(1)

   var1  var2  var3  var4
2    17    19    21    23

In [ ]:
df.sample(2)

   var1  var2  var3  var4
0     1     3     5     7
2    17    19    21    23

In [ ]:
df.columns

Index(['var1', 'var2', 'var3', 'var4'], dtype='object')

In [ ]:
for i in df.columns:
  print(df[i].sum())

27
33
39
45

In [ ]:
df.columns = ["new1","new2","new3","new4"]
df

   new1  new2  new3  new4
0     1     3     5     7
1     9    11    13    15
2    17    19    21    23

In [ ]:
df.index = ["a","b","c"]
df

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [ ]:
df.rename(columns={"new1":"a", "new2":"b"})

    a   b  new3  new4
a   1   3     5     7
b   9  11    13    15
c  17  19    21    23

In [ ]:
df.rename(index={"a":1, "b":2})

   new1  new2  new3  new4
1     1     3     5     7
2     9    11    13    15
c    17    19    21    23

In [ ]:
df

   new1  new2  new3  new4
a     1     3     5     7
b     9    11    13    15
c    17    19    21    23

In [ ]:
df.shape

(3, 4)

In [ ]:
df.shape[1]

4

In [ ]:
df.ndim

2

In [ ]:
df.size

12

In [ ]:
len(df)

3

In [ ]:
df.values

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(df.values)

numpy.ndarray

 ## Creating a DataFrame using a ``dict``

### Now, let's examine again the ***idexing, selection*** and ***slicing*** methods and several ***attributes*** using a different DataFrame

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

#### DataFrame Columns are just Series

**Creating a new column:**

## [Removing Columns & Rows](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-drop.ipynb)

 ### Removing Columns

In [ ]:
df3 = df3[["new", "new2", "W", "X", "Y", "Z"]]
df3

NameError: ignored

 ### Removing rows

## Selecting Rows

### First, let's take a quick look at [`.loc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-loc.ipynb) | [`.iloc[]`](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-iloc.ipynb)

#### `.loc[]`  allows us to select data using **labels** (names) of rows (index) & columns

#### `.iloc[]`  allows us to select data using **index numbers** of rows (index) & columns. it's like classical indexing logic

#### Let's continue to examine `.loc[]` and `.iloc[]` using ``df3`` again

### Selecting subset of rows and columns

 - ### `.loc[[row labels|names], [column labels|names]]`

 - ### `.iloc[[row index numbers], [column index numbers]]`

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

#### For two conditions you can use **|**  `or`,  **&**   `and` with parenthesis:

### Conditional selection using ``.loc[]`` and ``.iloc[]``

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

### let's take a quick look at the [``.xs()``](http://localhost:8888/notebooks/pythonic/DAwPythonSessions/w3resource-pandas-dataframe-xs.ipynb)

### Let's learn new functions/attributes/methods on "iris dataset"

# End of the Session